body {
    font-family: 'Aleo', serif;
}

body {
 
     background: url(../images/the_monkees.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  
}

.btn-primary {
    color: black;
    background-color: white;
    transition: 0.5s;
    border-color: black;
    
}

.btn:hover {
    background-color: #d8d8d8;
    color: black;
    
}

.jumbotron {
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
    
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
}

.jumbotron h2 {
    color: white;
    font-weight: bold;
}

.jumbotron p {
    color: white;
    font-weight: bold;
}

.h2, h2 {
    font-size: 30px;
    color: white;
    font-weight: bold;
}


.menuitem a {
    color: white;
    text-decoration: none;
}

.menu-color {
    background-color: black;
}

.list-inline>li {
    text-align: center;
    height: 34px;
}

.menuitem span {
    font-weight: bold;
}

.menuitem a i {
    display: block;
}

a.hvr-fade:hover {
    background-color: #cccccc;
}

h1,h2,h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}

footer {
    background-color: black;
    color: white;
    height: 100px;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

div.col-sm-4 {
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin: auto;
}

i.fa.fa-youtube {
    color: white;
}

i.fa.fa-twitter {
    color: white;
}

i.fa.fa-facebook {
    color: white;
}

.audio-header {
    padding-top: 100px;
}

.carousel-indicators {
    position: fixed;
    padding-bottom: 100px;
}

span.glyphicon.glyphicon-chevron-right {
    position: static;
    padding-top: 300px;
}

span.glyphicon.glyphicon-chevron-left {
    position: static;
    padding-top: 300px;
}

img {
    width: 50%;
    margin: auto;
}

.bg-color-event {
    background-color: #ffffff;
    margin: 0 auto;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"]{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

